
 <h2 class="header">My Books</h2>

<div class="container">
<ul class="books">
	<li class="item" *ngFor="let book of books" [class.selected]="book === selectedBook" (click)="onSelect(book)">
		<span class="title">{{book.title}}</span>{{book.author}}
	</li>
</ul>

<div class="details" *ngIf="selectedBook">

<div class="book-title"><span id="title">Book Title: </span>{{selectedBook.title}}</div><br>
<div class="summary">{{selectedBook.summary}}</div>
	<div><br>
	 	<label class="edit">Edit your summary:
	 		<input class="text-box" [(ngModel)]="selectedBook.summary" placeholder="summary">
	 	</label>
	 </div>
</div>
</div>

